
  <!DOCTYPE html>
  <html lang="pt-BR">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  
  
  
  
  <!--esse o matheus fez antes-->
  <div class="card">
    <canvas id="barChart" width="600" height="300"></canvas>
  </div>

  <!--esse é do edu-->
  <!--
  <div style="width: 800px; margin: auto;">
    <canvas id="graficoFluxoHora"></canvas>
  </div> -->
  <!--<script src="/JS/chart.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/JS/script.js"></script>

  </body>
  </html>