<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório Geral</title>

  <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
     <div class="nav-switch">
         <button id="btnRelatorio" onclick="alternarRelatorio()">
                Pagina inicial
         </button>
    </div>

<header class="top-bar">

  <div class="top-logo">
    <img src="https://www.ifsc.edu.br/image/layout_set_logo?img_id=48632&t=1774934283789"
         alt="IFSC"
         class="logo-ifsc">
  </div>

  <div class="top-center">
    <h1 class="page-title">Relatório Geral</h1>

    <div class="date-wrapper">
      <label class="date-label">Selecione a Data Inicial</label>
      <input type="date" id="dataInicio">
    </div>
    
    <div class="date-wrapper">
         <label class="date-label">Selecione a Data final</label>
          <input type="date" id="dataFim">
      </div>
  <div class="user-area">
    <img src="/img/comp.png" class="logo-projeto">

    <span class="user-name" th:text="${nomeUsuario}">Usuário</span>

    <form th:action="@{/logout}" method="post" class="logout-top">
      <button type="submit">Logout</button>
    </form>
  </div>

</header>

<main class="dashboard-container">

  <!-- GRÁFICO -->
  <section class="card chart-card">
    <div class="chart-header">
      <h2 class="section-title">Movimentação Geral</h2>
    </div>

    <div class="chart-wrapper">
      <canvas id="lineChart"></canvas>
    </div>
  </section>

  <!-- RESUMO -->
  <section class="card info-card">
    <h2 class="info-title">Resumo Geral</h2>

    <div class="stats-grid">

      <div class="stat-box">
        <span class="stat-label">Entradas</span>
        <span class="stat-value" id="totalEntradas">--</span>
      </div>

      <div class="stat-box">
        <span class="stat-label">Saídas</span>
        <span class="stat-value" id="totalSaidas">--</span>
      </div>

      <div class="stat-box">
        <span class="stat-label">Dia mais movimentado</span>
        <span class="stat-value" id="diaPico">--</span>
      </div>

      

    </div>
  </section>

</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/JS/geral.js"></script>

</body>
</html>